@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: Poppins, Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-weight: 300;
  color: #fff;
}

.card {
  width: 300px;
  min-width: 300px;
  height: fit-content;
  background: #343751;
  border-radius: 30px;
  position: relative;
  z-index: 10;
  margin: 25px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08);
}

.card .card-title {
  padding: 20px 20px 0 20px;
  font-weight: 200;
  font-size: 2rem;
  line-height: 1.15;
  color: #fff;
}

.card .use-cases-wrapper {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.card .use-cases-wrapper .use-case {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 0.9rem;
  color: #C3C6D4;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow: auto;
  padding-top: 100px;
  padding-left: 60px;
  padding-right: 50px;
  scroll-behavior: smooth;
}

.card-content::-webkit-scrollbar {
  height: 0px;
}

.card-content:after {
  content: "";
  display: block;
  min-width: 20px;
  height: 100px;
  position: relative;
}

.slider-button {
  display: none;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(242, 243, 248);
  width: 100%;
  height: 90vh;
  overflow: hidden;
}


/* for screen sizes greater than ipad air screen sizes */
@media screen and (min-width: 820px) {
  .slider-button {
    display: inline;
    min-width: 60px;
    margin: auto 30px;
    height: 60px;
    border: none;
    /* Remove border */
    background: none;
    /* Remove background */
    outline: none;
    cursor: pointer;
    z-index: 9999;
    transition: all 0.25s ease;
  }

  .slider-button:hover svg circle {
    stroke: white;
    stroke-width: 2.5;
  }

  .slider:after {
    content: "";
    left: 98px;
    height: 90vh;
    position: absolute;
    width: 150px;
    z-index: 100;
    background: linear-gradient(90deg,
        rgb(242, 243, 248) 0%,
        rgba(242, 243, 248, 0) 100%);
    pointer-events: none;
  }

  .slider:before {
    content: "";
    right: 98px;
    height: 90vh;
    position: absolute;
    width: 150px;
    z-index: 100;
    background: linear-gradient(90deg,
        rgba(242, 243, 248, 0) 0%,
        rgba(242, 243, 248, 1) 100%);
    pointer-events: none;
  }


}